<div data-ng-controller="CandidatoExtratosCtrl" data-ng-init="init()">

	<section class="dvg-margin-tb-20">
		<div class="row dvg-jumbo-green dvg-margin-top-20">

	        <div class="col-md-2 text-center" style="line-height: 80px;">
	          <img class="img-thumbnail img-responsive" src="{{resultData.foto}}" alt="{{resultData.nome}}" style="margin: 20px;" />
	        </div>
		        
	        <div class="col-md-10 text-left">
	        	<div style="margin: 20px;">
		        	<h1 class="dvg-jumbo-title">{{resultData.nomeUrna}} <span class="dvg-jumbo-number pull-right">{{resultData.numero}}</span></h1>
		        	<table class="dvg-table-info">
		        		<tr>
		        			<td>CNPJ {{resultData.cnpj | cnpj}}</td>
		        		</tr>
		        		<tr>
		        			<td>{{resultData.partido}} - PSDB</td>
		        		</tr>
		        		<tr>
		        			<td>Candidatura {{resultData.candidatura}}</td>
		        		</tr>
		        		<tr>
		        			<td><span class="badge dvg-jumbo-eleito">Eleito</span></td>
		        		</tr>
		        		<tr>
		        			<td>
		        				<span class="badge dvg-jumbo-nao-eleito">Não Eleito</span>
		        			</td>
		        		</tr>
		        	</table>
		        </div>
		        <span class="pull-right">Última Atualização: 25/12/2015</span>
	        </div>

		</div>
	</section>

	<section>
		<div class="row dvg-breadcrumb">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href data-ng-click="irParaPaginaInicial()" class="dvg-breadcrumb-link">Página Inicial</a></li>
					<li><a href data-ng-click="irParaCandidato('id')" class="dvg-breadcrumb-link">AÉCIO NEVES</a></li>
					<li class="active">Extratos Bancários</li>
				</ol>
			</div>
		</div>
	</section>

	<section>
		<div class="row dvg-margin-bottom-20">
			<div class="col-md-12">
				<div class="page-header">
					<h3>Extratos Bancários <a href class="pull-right" title="Exportar"><i class="fa fa-download"></i></a></h3>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="dvg-painel-azul">
							<span class="dvg-span dvg-painel-title">Banco do Brasil</span>
							<span class="dvg-span"><small>Banco</small></span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="dvg-painel-azul">
							<span class="dvg-span dvg-painel-title">1236</span>
							<span class="dvg-span"><small>Agência</small></span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="dvg-painel-azul">
							<span class="dvg-span dvg-painel-title">0000000000000044555</span>
							<span class="dvg-span"><small>Conta</small></span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="dvg-painel-azul">
							<span class="dvg-span dvg-painel-title">10/07/2015</span>
							<span class="dvg-span"><small>Data de Abertura</small></span>
						</div>
					</div>
				</div>

				<div class="table-responsive">
					<table st-table="resultData.integra" class="table table-stripped dvg-table">
						<thead>
						<tr>
							<th st-sort="doador">Data</th>
							<th st-sort="originario">Histórico</th>
							<th st-sort="rebico">Operação</th>
							<th st-sort="nDocumento">CPF/CNPJ Contraparte</th>
							<th st-sort="valor">Valor</th>
							<th st-sort="valor">Banco</th>
							<th st-sort="valor">Agência/Conta</th>
						</tr>
						<tr>
							<th colspan="7">
								<input st-search placeholder="Pesquisa" class="input-sm form-control" type="search"/>
							</th>
						</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in resultData.extratos" ng-class="{'dvg-credito': row.creditoDebito === 'C', 'dvg-debito': row.creditoDebito === 'D'}">
								<td>
									<span class="">{{row.data}}</span>
								</td>
								<td>
									<span class="">{{row.historico}}</span>
								</td>
								<td>
									<span class="">{{row.operacao}}</span>
									<span class="">{{row.numeroDocumento}}</span>
								</td>
								<td>
									<span class="">{{row.cpfCnpjContraparte}}</span>
								</td>
								<td>
									<span class="">{{row.valor}}</span>
								</td>
								<td>
									<span class="">{{row.nomeBanco}}</span>
									<span class="">{{row.nBanco}}</span>
								</td>
								<td>
									<span class="">Ag: {{row.agencia}}</span>
									<span class="">Cc: {{row.conta}}</span>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7" class="text-center">
									<div class="pull-left">
										Total de 10 registros.
									</div>
									<div class="btn-group pull-right" role="group" aria-label="Paginação">
										<button type="button" class="btn btn-default">#</button>
										<button type="button" class="btn btn-default">1</button>
										<button type="button" class="btn btn-default">2</button>
										<button type="button" class="btn btn-default">3</button>
										<button type="button" class="btn btn-default">4</button>
										<button type="button" class="btn btn-default">5</button>
										<button type="button" class="btn btn-default">#</button>
									</div>
									<!-- <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div> -->
								</td>
							</tr>
						</tfoot>
					</table>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="dvg-painel-verde">
							<span class="dvg-span dvg-painel-title">R$ 20.000,00</span>
							<span class="dvg-span"><small>Crédito</small></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="dvg-painel-vermelho-debito">
							<span class="dvg-span dvg-painel-title">R$ 20.000,00</span>
							<span class="dvg-span"><small>Débito</small></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="dvg-painel-cinza">
							<span class="dvg-span dvg-painel-title">R$ 0,00</span>
							<span class="dvg-span"><small>Saldo</small></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>