<div data-ng-controller="EstadosCtrl" data-ng-init="init()">
	<div class="page-header">
	  <h2 class="dvg-margin-bottom-0">Bahia</h2>
	</div>
	<div class="row">
		<div class="col-md-3">
		    <div class="panel panel-default dvg-painel">
		      <div class="panel-heading">Municípios <span class="badge pull-right">{{municipios.length}}</span></div>
		      <div class="panel-body">
		      	<div class="form-group">
				    <label for="exampleInputEmail1">Pesquisar Município</label>
				    <input type="text" class="form-control" id="input_municipio" placeholder="Município" data-ng-model="searchText">
				</div>
		        <div class="list-group">
		          <a href="#" class="list-group-item" data-ng-repeat="municipio in municipios | filter: searchText">
		            {{municipio.nome}}
		          </a>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="col-md-9">

			<div class="table-responsive">

				<table st-table="resultData.integra" class="table table-hover dvg-table">
					<thead>
					<tr>
						<th st-sort="doador">Doador</th>
						<th st-sort="originario">Originario</th>
						<th st-sort="rebico">Recibo Eleitoral</th>
						<th st-sort="nDocumento">Nº Documento</th>
						<th st-sort="valor">Valor</th>
					</tr>
					<tr>
						<th colspan="5">
							<input st-search placeholder="Pesquisa" class="input-sm form-control" type="search"/>
						</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in resultData.integra">
							<td>
								<span class=""><b>{{row.nome}}</b></span>
								<span class="">{{row.cpf}}</span>
							</td>
							<td>
								<span class=""><b>{{row.nomeOriginario}}</b></span>
								<span class="">{{row.cpjOriginario}}</span>
							</td>
							<td>
								<span class="">&nbsp;</span>
								<span class=""><b>{{row.reciboEleitoral}}</b></span>
							</td>
							<td>
								<span class="">&nbsp;</span>
								<span class=""><b>{{row.numeroDocumento}}</b></span>
							</td>
							<td>
								<span class=""><b>{{row.valor | currency:'R$'}}</b></span>
								<span class=""><small>{{row.data}}</small></span>
								<span class="dvg-table-title"><small>{{row.tipoEspecie}}</small></span>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" class="text-center">
								<div class="pull-left">
									Total de 115 registros.
								</div>
								<div class="btn-group pull-right" role="group" aria-label="Paginação">
									<button type="button" class="btn btn-default">#</button>
									<button type="button" class="btn btn-default">1</button>
									<button type="button" class="btn btn-default">2</button>
									<button type="button" class="btn btn-default">3</button>
									<button type="button" class="btn btn-default">4</button>
									<button type="button" class="btn btn-default">5</button>
									<button type="button" class="btn btn-default">#</button>
								</div>
								<!-- <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div> -->
							</td>
						</tr>
					</tfoot>
				</table>
			</div>

		</div>
	</div>	
</div>	