<div data-ng-controller="EstadosCtrl" data-ng-init="init()">
	<div class="page-header">
	  <h2 class="dvg-margin-bottom-0">Bahia</h2>
	</div>

	<div class="row dvg-margin-top-20">
	  <div class="col-md-4">
	    <div class="panel panel-default dvg-painel">
	      <div class="panel-heading">Municípios <span class="badge pull-right">{{municipios.length}}</span></div>
	      <div class="panel-body">
	      	<div class="form-group">
			    <label for="exampleInputEmail1">Pesquisar Município</label>
			    <input type="text" class="form-control" id="input_municipio" placeholder="Município" data-ng-model="searchText">
			</div>
	        <div class="list-group">
	          <a href="#" class="list-group-item" data-ng-repeat="municipio in municipios | filter: searchText">
	            {{municipio.nome}}
	          </a>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default dvg-painel">
	      <div class="panel-heading">Lista de Cargos <span class="badge pull-right">10</span></div>
	      <div class="panel-body dvg-painel-overflow-hidden">
	        <div class="list-group">
	          <a href="#" class="list-group-item">
	            <span class="badge">12</span>
	            Presidente
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">12</span>
	            Vice-Presidente
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">176</span>
	            Governador
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">186</span>
	            Vice-Governador
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">185</span>
	            Senador
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">209</span>
	            Senador 1º Suplente
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">214</span>
	            Senador 2º Suplente
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">7140</span>
	            Deputado Federal
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">17010</span>
	            Deputado Estadual
	          </a>
	          <a href="#" class="list-group-item">
	            <span class="badge">1028</span>
	            Deputado Distrital
	          </a>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default dvg-painel">
	      <div class="panel-heading">Lista de Partidos <span class="badge pull-right">{{partidos.length}}</span></div>
	      <div class="panel-body">
	      	<div class="form-group">
			    <label for="exampleInputEmail1">Pesquisar Partido</label>
			    <input type="text" class="form-control" id="input_partido" placeholder="Partido" data-ng-model="searchPartido">
			</div>
	      	<div class="list-group">
	          <a href="#" class="list-group-item" data-ng-repeat="partido in partidos | filter: searchPartido">
	            <table width="100%">
	            	<tr>
	            		<td width="50">{{partido.sigla}}</td>
	            		<td>{{partido.nome}}</td>
	            		<td width="30" class="text-center">{{partido.numero}}</td>
	            	</tr>
	            </table>
	          </a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
		<div class="col-md-4">
		    <div class="panel panel-default dvg-painel">
		      <div class="panel-heading">Ranking de Arrecadação</div>
		      <div class="panel-body">
		        <div class="media">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/BR/foto/280000000083.jpg?x=1415620600000280000000083" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		            <h4 class="media-heading">DILMA <small class="pull-right">PT</small></h4>
		            <div>
		              <div class="progress dvg-margin-bottom-2">
		                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		                  <span class="sr-only">100% Complete (warning)</span>
		                </div>
		              </div>
		              <small class="pull-right">R$ 383.000.000,00</small>
		            </div>
		          </div>
		        </div>

		        <div class="media">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/BR/foto/280000000085.jpg?x=1415304600000280000000085" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		            <h4 class="media-heading">AÉCIO NEVES <small class="pull-right">PT</small></h4>
		            <div>
		              <div class="progress dvg-margin-bottom-2">
		                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
		                  <span class="sr-only">87% Complete (warning)</span>
		                </div>
		              </div>
		              <small class="pull-right">R$ 290.000.000,00</small>
		            </div>
		          </div>
		        </div>

		        <div class="media">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/BR/foto/280000000063.jpg?x=1409866177000280000000063" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		            <h4 class="media-heading">EDUARDO CAMPOS <small class="pull-right">PT</small></h4>
		            <div>
		              <div class="progress dvg-margin-bottom-2">
		                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 46%">
		                  <span class="sr-only">46% Complete (warning)</span>
		                </div>
		              </div>
		              <small class="pull-right">R$ 150.000.000,00</small>
		            </div>
		          </div>
		        </div>

		        <div class="media">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/BR/foto/280000000065.jpg?x=1414180049000280000000065" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		            <h4 class="media-heading">PASTOR EVERALDO <small class="pull-right">PT</small></h4>
		            <div>
		              <div class="progress dvg-margin-bottom-2">
		                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 16%">
		                  <span class="sr-only">16% Complete (warning)</span>
		                </div>
		              </div>
		              <small class="pull-right">R$ 50.000.000,00</small>
		            </div>
		          </div>
		        </div>

		        <div class="media">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/BR/foto/280000000067.jpg?x=1414180049000280000000067" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		            <h4 class="media-heading">EYMAEL <small class="pull-right">PT</small></h4>
		            <div>
		              <div class="progress dvg-margin-bottom-2">
		                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 8%">
		                  <span class="sr-only">8% Complete (warning)</span>
		                </div>
		              </div>
		              <small class="pull-right">R$ 25.000.000,00</small>
		            </div>
		          </div>
		        </div>

		        <div class="media">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/BR/foto/280000000021.jpg?x=1414180049000280000000021" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		            <h4 class="media-heading">LEVY FIDELIX <small class="pull-right">PT</small></h4>
		            <div>
		              <div class="progress dvg-margin-bottom-2">
		                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 6%">
		                  <span class="sr-only">6% Complete (warning)</span>
		                </div>
		              </div>
		              <small class="pull-right">R$ 12.000.000,00</small>
		            </div>
		          </div>
		        </div>

		        <div class="media">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/BR/foto/280000000043.jpg?x=1414180049000280000000043" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		            <h4 class="media-heading">LUCIANA GENRO <small class="pull-right">PT</small></h4>
		            <div>
		              <div class="progress dvg-margin-bottom-2">
		                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
		                  <span class="sr-only">2% Complete (warning)</span>
		                </div>
		              </div>
		              <small class="pull-right">R$ 900.000,00</small>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
	  	</div>

	  	<div class="col-md-4">
		    <div class="panel panel-default dvg-painel">
		      <div class="panel-heading">Quantitativo Candidatura</div>
		      <div class="panel-body">

		        <div class="media" data-ng-repeat="quantitativo in quantitativoCandidatura" on-finish-render-candidatura="ngRepeatFinishedQuantitativoCandidatura">
		          <div class="media-left">
		            <a href="#">
		              <img class="media-object img-thumbnail" src="{{quantitativo.foto}}" alt="Mamãe" width="48px">
		            </a>
		          </div>
		          <div class="media-body">
		          	<table width="100%">
		          		<tr>
		          			<td>
		          				<h4 class="media-heading">{{quantitativo.nome}}</h4>
					            <div>
					              <small class="dvg-color-sub-title">Esperado R$ {{quantitativo.esperado | currency}}</small>
					            </div>
					            <div>
					              <small class="dvg-color-sub-title">Pendente R$ {{quantitativo.pendente | currency}}</small>
					            </div>
		          			</td>
		          			<td width="64px">
		          				<canvas id="canvas-graph-candidato-{{$index}}" class="dvg-canvas-60" width="64" height="64">
		          			</td>
		          		</tr>
		          	</table>
		          </div>
		        </div>

		      </div>
		    </div>
	  	</div>

	  	<div class="col-md-4">
		    <div class="panel panel-default dvg-painel">
		      <div class="panel-heading">Quantitativo Esfera Partidária</div>
		      <div class="panel-body">

		        <div class="media" data-ng-repeat="partido in partidos" on-finish-render-partidario="ngRepeatFinishedQuantitativoPartidario">
		          <div class="media-body">
		          	<table width="100%">
		            	<tr>
		            		<td width="50">
		            			<div>{{partido.sigla}}</div>
		            			<div>{{partido.numero}}</div>
		            		</td>
		            		<td>
		            			{{partido.nome}}<br/>
		            			<div>
					              <small class="dvg-color-sub-title">Esperado R$ {{quantitativo.esperado | currency}}</small>
					            </div>
					            <div>
					              <small class="dvg-color-sub-title">Pendente R$ {{quantitativo.pendente | currency}}</small>
					            </div>
		            		</td>
		            		<td width="64px">
		          				<canvas id="canvas-graph-partido-{{$index}}" class="dvg-canvas-60" width="64" height="64">
		          			</td>
		            	</tr>
		            </table>
		          	<!-- <table width="100%">
		          		<tr>
		          			<td>
		          				<h4 class="media-heading">{{quantitativo.nome}}</h4>
					            <div>
					              <small class="dvg-color-sub-title">Esperado R$ {{quantitativo.esperado | currency}}</small>
					            </div>
					            <div>
					              <small class="dvg-color-sub-title">Pendente R$ {{quantitativo.pendente | currency}}</small>
					            </div>
		          			</td>
		          			<td width="64px">
		          				<canvas id="canvas-graph-partido-{{$index}}" class="dvg-canvas-60" width="64" height="64">
		          			</td>
		          		</tr>
		          	</table> -->
		          </div>
		        </div>

		      </div>
		    </div>
	  	</div>

	</div>
</div>