<div data-ng-controller="MainCtrl" data-ng-init="init()">

<section>
  <div class="row dvg-margin-top-5">
    <div class="jumbotron dvg-jumbo-green dvg-jumbo-padding">    
      <div class="row dvg-margin-top-20">
        <div class="col-md-4" style="line-height: 80px;">
          <span class="dvg-brand-vigencia">{{Template.anoEleitoral.ano}}</span>
        </div>
        <div class="col-md-8">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="dvg-margin-bottom-7 dvg-jumbo-padding">
  <div class="row">
    <div class="large-12 columns text-center">
      <h1>
        Selecione um Estado
      </h1>
    </div>
  </div>

  <div class="row dvg-row-reset ">
    <div class="col-md-6 text-center">
      {{Template.ufs}}
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="open('BA')">BR</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('AC')">AC</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('AL')">AL</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('AP')">AP</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('AM')">AM</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('BA')">BA</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('CE')">CE</a></div>
    </div>
    <div class="col-md-6 text-center">
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('DF')">DF</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('ES')">ES</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('GO')">GO</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('MA')">MA</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('MT')">MT</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('MS')">MS</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('MG')">MG</a></div>
    </div>
  </div>
  <div class="row dvg-row-reset">
    <div class="col-md-6 text-center">
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('PA')">PA</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('PB')">PB</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('PR')">PR</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('PE')">PE</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('PI')">PI</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('RJ')">RJ</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('RN')">RN</a></div>
    </div>
    <div class="col-md-6 text-center">
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('RS')">RS</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('RO')">RO</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('RR')">RR</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('SC')">SC</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('SP')">SP</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('SE')">SE</a></div>
      <div class="dvg-inline"><a href class="dvg-badge-state" data-ng-click="irParaEstado('TO')">TO</a></div>
    </div>
  </div>
</section>


<section class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-md-4">
      <div class="panel">
        <h4>Agenda </h4>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item">
              Entrega Geral em: 15/05/2015
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel">
        <h4>Outras mídias </h4>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item">
              Estatísticas
            </a>
            <a href="#" class="list-group-item">
              Versão Mobile - IOS
            </a>    
            <a href="#" class="list-group-item">
              Versão Mobile - Android
            </a>      
            <a href="#" class="list-group-item">
              Para Desenvolvedores
            </a>                             
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel">
        <h4>Agenda </h4>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item">
              Entrega Geral em: 15/05/2015
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>

    <script type="text/ng-template" id="modalMunicipios.html">
        <div class="modal-header">
            <h3 class="modal-title">Estado Selecionado:{{uf}}</h3>
        </div>
        <div class="modal-body">
          <div class="panel panel-default dvg-painel">
            <div class="panel-heading">Municípios <span class="badge pull-right">{{municipios.length}}</span></div>
            <div class="panel-body">
              <div class="form-group">
              <label for="exampleInputEmail1">Pesquisar Município</label>
              <input type="text" class="form-control" id="input_municipio" placeholder="Município" data-ng-model="searchText">
          </div>
              <div class="list-group">
                <a href="#" class="list-group-item" data-ng-repeat="municipio in municipios | filter: searchText">
                  {{municipio.nome}}
                </a>
              </div>
            </div>
          </div>
        </div>
    </script>